www/*.html
www/draft/*.html
www/draft/*.js
www/blog/*.html
www/onepage/*.html
www/widgets/lab*.js
www/widgets/server*.js
www/widgets/rt-module.js
www/rss.xml
.DS_Store
slides
class/
lectures/
www/db.json
www/pw.hash
node_modules/
package-lock.json
src/__pycache__/
__pycache__/
infra/db.*.json
exercises/
videos/
.idea/
src/*.full.py
latex/*
browser.trace
