p { margin-bottom: 16px; }
ul { margin-top: 16px; margin-bottom: 16px; padding-left: 20px; }
li { margin-bottom: 8px; }
pre {
    margin-top: 8px; margin-bottom: 8px;
    padding-top: 8px; padding-right: 8px; padding-bottom: 8px; padding-left: 8px;
    border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px;
}

b, i { display: inline; }
b { font-weight: bold; }
i, span.margin-note { font-style: italic; }
a { color: blue; }
.visited { color: purple; }

head { display: none; }

h1 { font-size: 24px; }
h2 { font-size: 20px; }
