html { font-size: 24px; line-height: 1.3; padding: 1ex; }
body {
    max-width: 65ex; margin: 0 auto; font-family: 'Lora', 'Times', sans-serif;
    color: #333; text-align: justify; hyphens: auto; -webkit-hyphens: auto;
}
@media (max-width: 800px) {
    html { font-size: 18px; }
}

pre, code { hyphens: none; -webkit-hyphens: none; }
pre { font-size: 80%; }

dt { margin-top: 1em; }
dd { margin-bottom: 1em; }

blockquote { border-left: 1ex solid #eee; padding-left: 1ex; margin-left: 0; }

footer { text-align: center; font: italic 60% serif; margin: 5em 0; }

header, h1, strong { font-family: 'Vollkorn', 'Garamond', serif; color: black; }
h1 { font-size: 105%; margin: 1.5em 0 0; }
header { text-align: center; margin: 3em 0 1em; }
header h1 { font-size: 200%; font-weight: bold; }
.main header * { margin: 0; }
header .author { font-style: italic; }
header .author:before { content: "By "; }

a:link { color: #04a; }
a:hover { color: #08f; }
a:visited { color: #84a; }
a:visited:hover { color: #c4f; }
a:active { color: #f64; }

li { margin: 1em 0; }

.main ol, .main > h1 { font-size: 120%; }
.main header { margin-bottom: 3em; }
.main > h1 { margin: 0; }
.main ol { margin: 0; padding-left: 0; color: black; }
.main li { font-size: 80%; font-style: italic; }
.main li a { font-size: 125%; font-style: normal; }

.intro, .outro { }
.intro ol { list-style: lower-roman; }
.outro ol { list-style: upper-alpha; }

nav.links {
    line-height: 40px; text-align: center;
    border-radius: 10px; background: #eee; color: black;
    padding: 0 40px; position: relative; margin-bottom: 3em;
}
nav.links ~ nav.links { margin-top: 3em; }
nav.links a { color: currentColor; }
nav.links a[rel] {
    display: block; width: 40px; height: 100%; position: absolute; top: 0;
    font-size: 36px; text-decoration: none; cursor: pointer;
}
nav.links a[rel]:hover { background: #ddd; }

nav.links a[rel=prev] {
    left: 0; border-radius: 10px 0 0 10px; border-right: 3px solid white;
}
nav.links a[rel=next] {
    right: 0; border-radius: 0 10px 10px 0; border-left: 3px solid white;
}

body { counter-reset: fn; }
.note-container { counter-increment: fn; white-space: pre; }
.note-container:after { content: "]"; color: #a86; }
.note-container:before { content: " ["; color: #a86; }
.note { font-style: italic; white-space: normal; color: #a86; }
@media only screen and (min-width: 1150px) {
    body { width: 65ex; padding: 0 17ex 0 0; }
    .note {
        float: right; width: 25ex; clear: right; margin: 0 -28ex 1em 0;
        font-size: 110%; vertical-align: reset; text-align: left; color: currentColor;
    }
    div .note { margin-right: calc(-28ex - 1rem - 2px); }
    .note-container { font-size: 60%; vertical-align: super; }
    .note-container:before { content: "[" counter(fn); }
    .note:before { content: counter(fn) ". "; }
}
@media only screen and (min-width: 1350px) {
    body { padding: 0 17ex; }
}

.todo, .quirk, .warning, .installation, .further { padding: 1em 1em 0; margin: 1em 0; }
.quirk:before, .warning:before, .installation:before {
    font-weight: bold; font-family: 'Vollkorn', 'Garamond', serif;
    text-align: center;
}

pre { margin-left: 2ex; }

.quirk { border: 2px solid purple; }
.quirk:before { content: "Quirk"; color: purple; }
.warning { border: 2px solid red; }
.warning:before { content: "Warning"; color: red; }
.installation { border: 2px solid blue; }
.installation:before { content: "Installation"; color: blue; }
.further { border: 2px solid green; padding-top: 0; }
.further > :first-child:before { content: "Go further: "; font-weight: bold; color: green; }

code .st { color: #666; }
code .cf, code .kw, code .im { color: #606; }
code .co { color: #a86; }

.todo { background: darkred; color: white; padding-bottom: 1em; }
.todo:before { content: "This book is a work in progress:"; }

input[type=checkbox][disabled] { display: none; }

#overlay {
    position: fixed; top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(256, 256, 256, .9);
}
.popup {
    padding: 1em; border: 1px solid gray; box-shadow: 0 0 20px 10px gray;
    width: 50ex; margin: 3em auto; background: white;
}
.popup h1 { text-align: center; }
.popup .inputs { font-size: 30px; }
.popup input { font-size: 30px; }
.popup .legalese { font-size: 60%; }
.popup .buttons { display: flex; justify-content: space-around; }
.popup button { font-size: 24px; }
.popup .buttons a { font-size: 24px; }

p, li, pre, .note { position: relative; }
.tools {
    position: absolute; right: 0; top: -1.5em; background: #eee;
    padding: .125em .75em; border-radius: .75em;
}
.tools a { margin: 0 1ex; }
.tools textarea {
    border: none; background: transparent; width: 100%; font-size: 100%;
    margin: 1ex 0; 
}

input, button { font-size: inherit; font-family: inherit; }
form h1 { margin-bottom: 1em; margin-top: 0; }
.field { display: flex; }
.field label { min-width: 20ex; }
.field input { flex-grow: 1; }
.checkoff { float: right; }
.checkoff input { vertical-align: middle; }
form .checkoff, form button[type=submit] { margin-top: 1em; }

#signup { border: 2px solid gold; padding: 1em; margin: 1em 0; background: #fffbe5; }
#signup input { border: 2px none gold; border-bottom-style: solid; background: transparent; }
#signup button { border: 2px solid gold; background: #fff7cc; }
#signup button:hover { background: #fff099; cursor: pointer; }
#signup button:active { background: gold; color: black; cursor: pointer; }
#signup button[type=reset] { display: block; }

form.states > div { display: none; }
form.states > div.s-initial { display: block; }
form.states.s-progress > div { display: none}
form.states.s-progress > div.s-progress { display: block}
form.states.s-success > div { display: none}
form.states.s-success > div.s-success { display: block}
form.states.s-error > div { display: none}
form.states.s-error > div.s-error { display: block}
form > div.status { text-align: center; font-size: 120%; }
form > div.s-error { color: red; }
