section div { border: 1px solid #888; margin: 1em 0; padding: 1em; }
section div h1 { margin-top: 0; }
section div :last-child  { margin-bottom: 0; }

section div .del { background: #fcc; }
section div .add { background: #cfc; }

button { min-width: 2em; min-height: 1em; float: right; }
