pre { background-color: gray; }

a { color: blue; }
i { font-style: italic; }
b { font-weight: bold; }
small { font-size: 90%; }
big { font-size: 110%; }


input {
    font-size: 16px; font-weight: normal; font-style: normal;
    background-color: lightblue;
}
button {
    font-size: 16px; font-weight: normal; font-style: normal;
    background-color: orange;
}

input:focus { outline: 1px solid black; }

button:focus { outline: 1px solid black; }

div:focus { outline: 1px solid black; }

a:focus { outline: 1px solid black; }

iframe { outline: 1px solid black; }

@media (prefers-color-scheme: dark) {

a { color: lightblue; }
input { background-color: blue; }
button { background-color: orangered; }

input:focus { outline: 1px solid white; }

button:focus { outline: 1px solid white; }

div:focus { outline: 1px solid white; }

a:focus { outline: 1px solid white; }

}
