p { margin-bottom: 16px; }
ul { margin: 16px 0px; padding-left: 20px; }
li { margin-bottom: 8px; }
pre { margin: 8px 0px; padding: 8px; border-width: 1px; }

b, i { display: inline; }
b { font-weight: bold; }
i, span.margin-note { font-style: italic; }
a { color: blue; }

head { display: none; }
