b { font-weight: bold; }
i { font-style: italic; }
a { text-decoration: underline; color: blue; }
p { margin-top: 16px; }
h1 { font-size: 24px; font-weight: bold; margin-top: 32px; }
h2 { font-size: 20px; font-weight: bold; margin-top: 20px; }
h3 { font-size: 18px; font-style: italic; margin-top: 9px; }
ul { margin-top: 16px; margin-bottom: 16px; }
li { margin-left: 16px; }
hr { margin-top: 8px; margin-bottom: 8px; }
