name: Make and test the book

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install dependencies
        run: python -m pip install dukpy Pillow PySDL2 pysdl2-dll skia-python PyOpenGL gtts playsound
      - uses: r-lib/actions/setup-pandoc@v1
        with:
          pandoc-version: 2.11.4
      - run: make book draft lint test
