name: Make and test the book

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-python@v4
        with:
          python-version: 3.9
          cache: pip
      - name: Install dependencies
        run: python -m pip install -r requirements.txt --no-deps
      - uses: r-lib/actions/setup-pandoc@v2
        with:
          pandoc-version: 3.2.1
      - run: make book lint
